<%= form_for(@poster) do |f| %>
  <% if @poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
      <% @poster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slogan %><br>
    <%= f.text_field :slogan %>
  </div>
  <div class="field">
    <%= f.label :name, "Candidate Name" %><br>
    <% if @proposed_name %>
      <%= f.text_field :name, value: @proposed_name.to_s %>
    <% else %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
